body{
    margin: auto;
}

.form-conrainer{
    background-color: white;
    width: fit-content;

}
.form-header-text{
    background-color: #0f00db;
    font-size: 40px;
    display: inline-block;
    width: 550px;
    height: 50px;
    vertical-align: top;
    padding: 0%;
    margin: 0%;
    margin-left: -4px;
    text-align: center;
    line-height: 50px;
    color: white;
    opacity: 100%;
}
.lastname{
    color: white;
    padding: 2px;
    width: 30%;
    display: inline-block;
    margin: 0 5px;
    border: none;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: -58%;
    margin-right: 400px;
}
.lastname input{
    width: 80%;
    background: none;
    border: solid;
    border: 2px solid rgb(0, 0, 0);
    padding: 12px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    outline: none;
}
.nickname{
    color: white;
    padding: 2px;
    width: 30%;
    display: inline-block;
    margin: 0 5px;
    border: none;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 0%;

}
.nickname input{
    width: 80%;
    background: none;
    border: solid;
    border: 2px solid rgb(0, 0, 0);
    padding: 12px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    outline: none;
}
.nickname input::placeholder{
    color: rgb(0, 0, 0);
}

form{
    text-align: center;
    color: rgb(0, 0, 0);
}
.wrapper{
    text-align: left;
    margin-top:20px ;
}

.wrapper input{
    margin-right: 10px;
    margin-left: 10px;
}
button{
    padding: 10px 50px ;
    color: white;
    background-color: #0f00db;
    width: 300px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: -45%;
    margin-top: 30px;
}
.gender{
    font-size: 20px;
    opacity: 100%;
}
.Email-address{
    width: 66%;
    background: none;
    padding: 12px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    outline: none;
    border: none;
    text-align: left;
}
.Email-address input{
    width: 80%;
    background: none;
    border: solid;
    border: 2px solid rgb(0, 0, 0);
    padding: 12px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    outline: none;
}
.city{
    width: 66%;
    background: none;
    padding: 12px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    outline: none;
    border: none;
    text-align: left;
}
.city input{
    width: 80%;
    background: none;
    border: solid;
    border: 2px solid rgb(0, 0, 0);
    padding: 12px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    outline: none; 
}
.Country{
    width: 66%;
    background: none;
    padding: 12px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    outline: none;
    border: none;
    text-align: left;
}
.Country input{
    width: 80%;
    background: none;
    border: solid;
    border: 2px solid rgb(0, 0, 0);
    padding: 12px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    outline: none; 
}
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
    background-color: rgb(161, 210, 224);
    width: fit-content;
    padding: 10px;
    border-radius: 30px;
    margin-left: 20px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
    outline: none;
}

.switch-field label {
	background: none;
	color: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: 10px;
	/* border: 1px solid rgba(0, 0, 0, 0.2) */
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
    border-radius: 30px;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #0f00db;
	box-shadow: none;
}

.switch-field label:first-of-type {
	/* border-radius: 4px 0 0 4px; */

}

.switch-field label:last-of-type {
	/* border-radius: 0 4px 4px 0; */
}
.container{
    width: fit-content;
}